<md-dialog class="rolePermission-wrapper">
  <form class="form-inline">
	<div class="col-md-12 addCutomRoleContainer">
		<div class="title">
			<div class="col-md-10 msgHeader"><h1>ROLE PERMISSION</h1></div>
			<div class="col-md-2 closeBtn padding0" ng-click="hidePopup($event)"><img src="images/close.png" alt=""/></div>
		</div>
		<div class="content col-md-12 padding0">
			<div class="col-md-12 inputCtl">
				<div class="col-md-5">
					<div class="roleTypetxt"><p>Role</p></div>
					<div class="rolesubtxt"><p>New Car Sales Manager </p></div>

				</div>
				<div class="col-md-6">
					<div class="roleTypetxt"><p>Role Type</p></div>
					<div class="rolesubtxt"><p>Advanced</p></div>
					
				</div>
			
			</div>
			<div class="col-md-12 togglecontainer padding0">
				<div class="addRoleHeader col-md-12 padding0">
					<div class="col-md-6">
						<p>PERMISSION</p>
					</div>
					<div class="col-md-6">
						<p class="status">STATUS</p>
					</div>
				</div>
				<div class="col-md-12 addRoleCnt padding0">
					<ul>
						<li>
							<div class="col-md-8"><p>Enterprise Manager</p></div>
							<div class="col-md-4"><md-switch ng-model="data.cb1" aria-label="Switch 1"></md-switch></div>
						</li>
						<li>
							<div class="col-md-8"><p>Enterprise Manager</p></div>
							<div class="col-md-4"><md-switch ng-model="data.cb2" aria-label="Switch 2"></md-switch></div>
						</li>
						<li>
							<div class="col-md-8"><p>Enterprise Manager</p></div>
							<div class="col-md-4"><md-switch ng-model="data.cb3" aria-label="Switch 3"></md-switch></div>
						</li>
						<li>
							<div class="col-md-8"><p>Enterprise Manager</p></div>
							<div class="col-md-4"><md-switch ng-model="data.cb4" aria-label="Switch 4"></md-switch></div>
						</li>
						<li>
							<div class="col-md-8"><p>Enterprise Manager</p></div>
							<div class="col-md-4"><md-switch ng-model="data.cb4" aria-label="Switch 4"></md-switch></div>
						</li>
						<li>
							<div class="col-md-8"><p>Enterprise Manager</p></div>
							<div class="col-md-4"><md-switch ng-model="data.cb4" aria-label="Switch 4"></md-switch></div>
						</li>
						<li>
							<div class="col-md-8"><p>Enterprise Manager</p></div>
							<div class="col-md-4"><md-switch ng-model="data.cb4" aria-label="Switch 4"></md-switch></div>
						</li>
						<li>
							<div class="col-md-8"><p>Enterprise Manager</p></div>
							<div class="col-md-4"><md-switch ng-model="data.cb4" aria-label="Switch 4"></md-switch></div>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	
  </form>
</md-dialog>
